<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trad.dao.LoanMapper">
  <resultMap id="BaseResultMap" type="com.trad.bean.Loan">
  	<id column="id" jdbcType="INTEGER" property="id" />
  	<result column="loan_contract_no" jdbcType="VARCHAR" property="loanContractNo" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="loan_examine" jdbcType="INTEGER" property="loanExamine" />
    <result column="manager_examine" jdbcType="INTEGER" property="managerExamine" />
    <result column="loan_mobile" jdbcType="VARCHAR" property="loanMobile" />
    <result column="loan_money" jdbcType="VARCHAR" property="loanMoney" />
    <result column="loan_limit" jdbcType="VARCHAR" property="loanLimit" />
    <result column="loan_status" jdbcType="CHAR" property="loanStatus" />
    <result column="apply_time" jdbcType="VARCHAR" property="applyTime" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="manager_id" jdbcType="VARCHAR" property="managerId" />
    <result column="manager_name" jdbcType="VARCHAR" property="managerName" />
    <result column="pawn_add" jdbcType="VARCHAR" property="pawnAdd" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="pauper_remark" jdbcType="VARCHAR" property="pauperRemark" />
    
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_per" jdbcType="VARCHAR" property="createPer" />
    <result column="update_per" jdbcType="VARCHAR" property="updatePer" />
    
    <result column="bank_card" jdbcType="VARCHAR" property="bankCard" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_user_name" jdbcType="VARCHAR" property="bankUserName" />
    
    
    <result column="loan_state" jdbcType="VARCHAR" property="loanState" />
    <result column="loan_purpose" jdbcType="VARCHAR" property="loanPurpose" />
    <result column="loan_source" jdbcType="VARCHAR" property="loanSource" />
    <result column="loan_operate" jdbcType="VARCHAR" property="loanOperate" />
    
    <result column="examine_money" jdbcType="VARCHAR" property="examineMoney" />
    <result column="examine_limit" jdbcType="VARCHAR" property="examineLimit" />
    
    <result column="loan_notarization_time" jdbcType="VARCHAR" property="loanNotarizationTime" />
    
    <result column="loan_opinion" jdbcType="VARCHAR" property="loanOpinion" />
    
  </resultMap>
  <sql id="Base_Column_List">
  	id, loan_contract_no, product_id, product_name, loan_examine, manager_examine, loan_mobile, loan_money, loan_limit, loan_status, 
    apply_time, customer_id, customer_name, manager_id, manager_name, pawn_add, remark, pauper_remark,
    create_time, update_time, create_per, update_per, loan_state, loan_purpose, loan_source, loan_operate,
    examine_money examineMoney, examine_limit examineLimit, loan_notarization_time loanNotarizationTime,loan_opinion loanOpinion,bank_card bankCard,bank_name bankName,bank_user_name bankUserName
  </sql>
  
  <select id="getId" resultType="String">
  	select id from t_loan ORDER BY cast(id as UNSIGNED INTEGER) desc LIMIT 1
  </select>
  
  <select id="getLoanAll" resultType="com.trad.bean.Loan" parameterType="map">
  	select l.id,l.loan_contract_no loanContractNo,l.product_id productId,l.product_name productName,l.loan_mobile loanMobile,l.loan_money loanMoney,
  	l.loan_limit loanLimit,l.loan_status loanStatus,l.apply_time applyTime,l.customer_id customerId,l.customer_name customerName,l.manager_id managerId,l.manager_name managerName,
  	l.pawn_add pawnAdd,l.remark,l.create_time createTime,l.update_time updateTime,l.create_per createPer,l.update_per updatePer,l.pauper_remark pauperRemark,
  	l.loan_state loanState,l.loan_purpose loanPurpose,l.loan_source loanSource,l.loan_operate loanOperate,l.loan_examine loanExamine, l.manager_examine managerExamine
  	from t_loan l 
  	<where>
  		<if test="loanStatus!=null">
  			l.loan_status &gt;=#{loanStatus}
  		</if>
  	</where>
  	limit #{page},#{pageSize}
  </select>
  <select id="getCount" resultType="java.lang.Integer">
  	select count(*) countx from t_loan l 
  	<where>
  		<if test="loanStatus!=null">
  			l.loan_status &gt;=#{loanStatus}
  		</if>
  	</where>
  </select>
  <update id="upLoanStatus" parameterType="map">
  	update t_loan set 
  	<if test="loanStatus!=null">
	  	loan_status=#{loanStatus}
  	</if>
  	<if test="loanExamine!=null">
  		,loan_examine=#{loanExamine}
  	</if>
  	<if test="managerExamine!=null">
  		,manager_examine=#{managerExamine}
  	</if>
  	<if test="loanOpinion!=null">
  		,loan_opinion=#{loanOpinion}
  	</if>
  	 where id=#{loanId}
  </update>
  
  <select id="selPlanByLoanId" parameterType="map" resultType="map">
  	SELECT l.customer_id,o.payment_name,o.payment_contract,l.id,l.loan_mobile,l.manager_id,l.manager_name,
	p.payment_time,p.principal,p.interest,o.month_scale,p.stage_number,l.pauper_remark pauperRemark
	from t_loan l LEFT JOIN t_loan_offer o ON l.id=o.load_id LEFT JOIN t_loan_plan p ON l.id=p.loan_id WHERE l.id=#{loanId}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select l.id,l.loan_contract_no loanContractNo,l.product_id productId,l.product_name productName,l.loan_mobile loanMobile,l.loan_money loanMoney,
  	l.loan_limit loanLimit,l.loan_status loanStatus,l.apply_time applyTime,l.customer_id customerId,l.customer_name customerName,l.manager_id managerId,l.manager_name managerName,
  	l.pawn_add pawnAdd,l.remark,l.create_time createTime,l.update_time updateTime,l.create_per createPer,l.update_per updatePer,
  	l.loan_state loanState,l.loan_purpose loanPurpose,l.loan_source loanSource,l.loan_operate loanOperate, l.pauper_remark pauperRemark,
  	l.examine_money examineMoney, l.examine_limit examineLimit,left(l.loan_notarization_time,10) loanNotarizationTime,l.loan_examine loanExamine, l.manager_examine managerExamine
  	from t_loan l where l.id=#{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_loan
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="map">
    insert into t_loan (id ,loan_contract_no, product_id, product_name, 
      loan_mobile, loan_money, 
      loan_limit, loan_status, apply_time, 
      customer_id, customer_name, manager_id, 
      manager_name, pawn_add, remark, 
      create_time, update_time, create_per, 
      update_per,loan_examine, manager_examine,pauper_remark)
    values (#{id}, #{loanContractNo,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{loanMobile,jdbcType=VARCHAR}, #{loanMoney,jdbcType=VARCHAR}, 
      #{loanLimit,jdbcType=VARCHAR}, #{loanStatus,jdbcType=CHAR}, #{applyTime,jdbcType=VARCHAR}, 
      #{customerId,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, #{managerId,jdbcType=VARCHAR}, 
      #{managerName,jdbcType=VARCHAR}, #{pawnAdd,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createPer,jdbcType=VARCHAR}, 
      #{updatePer,jdbcType=VARCHAR},${loanExamine} ,#{managerExamine},#{pauperRemark})
  </insert>
  <insert id="insertSelective" parameterType="com.trad.bean.Loan">
    insert into t_loan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="loanMobile != null">
        loan_mobile,
      </if>
      <if test="loanMoney != null">
        loan_money,
      </if>
      <if test="loanLimit != null">
        loan_limit,
      </if>
      <if test="loanStatus != null">
        loan_status,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="managerId != null">
        manager_id,
      </if>
      <if test="managerName != null">
        manager_name,
      </if>
      <if test="pawnAdd != null">
        pawn_add,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createPer != null">
        create_per,
      </if>
      <if test="updatePer != null">
        update_per,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="loanMobile != null">
        #{loanMobile,jdbcType=VARCHAR},
      </if>
      <if test="loanMoney != null">
        #{loanMoney,jdbcType=VARCHAR},
      </if>
      <if test="loanLimit != null">
        #{loanLimit,jdbcType=VARCHAR},
      </if>
      <if test="loanStatus != null">
        #{loanStatus,jdbcType=CHAR},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null">
        #{managerId,jdbcType=VARCHAR},
      </if>
      <if test="managerName != null">
        #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="pawnAdd != null">
        #{pawnAdd,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPer != null">
        #{createPer,jdbcType=VARCHAR},
      </if>
      <if test="updatePer != null">
        #{updatePer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="map">
    update t_loan
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="loanMobile != null">
        loan_mobile = #{loanMobile,jdbcType=VARCHAR},
      </if>
      <if test="loanMoney != null">
        loan_money = #{loanMoney,jdbcType=VARCHAR},
      </if>
      <if test="loanLimit != null">
        loan_limit = #{loanLimit,jdbcType=VARCHAR},
      </if>
      <if test="loanStatus != null">
        loan_status = #{loanStatus,jdbcType=CHAR},
      </if>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null">
        manager_id = #{managerId,jdbcType=VARCHAR},
      </if>
      <if test="managerName != null">
        manager_name = #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="pawnAdd != null">
        pawn_add = #{pawnAdd,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPer != null">
        create_per = #{createPer,jdbcType=VARCHAR},
      </if>
      <if test="updatePer != null">
        update_per = #{updatePer,jdbcType=VARCHAR},
      </if>
      <if test="loanState != null">
        loan_state = #{loanState,jdbcType=VARCHAR},
      </if>
      <if test="loanPurpose != null">
        loan_purpose = #{loanPurpose,jdbcType=VARCHAR},
      </if>
      <if test="loanSource != null">
        loan_source = #{loanSource,jdbcType=VARCHAR},
      </if>
      <if test="loanOperate != null">
        loan_operate = #{loanOperate,jdbcType=VARCHAR},
      </if>
      <if test="examineMoney != null">
        examine_money = #{examineMoney,jdbcType=VARCHAR},
      </if>
      <if test="examineLimit != null">
        examine_limit = #{examineLimit,jdbcType=VARCHAR},
      </if>
      <if test="loanNotarizationTime != null">
      	loan_notarization_time = #{loanNotarizationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loanExamine != null">
      	loan_examine = #{loanExamine,jdbcType=TIMESTAMP},
      </if>
      <if test="managerExamine != null">
      	manager_examine = #{managerExamine,jdbcType=TIMESTAMP},
      </if>
      <if test="pauperRemark != null">
        pauper_remark=#{pauperRemark},
      </if>
      <if test="bankCard != null">
        bank_card=#{bankCard},
      </if>
      <if test="bankName != null">
        bank_name=#{bankName},
      </if>
      <if test="bankUserName != null">
        bank_user_name=#{bankUserName}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trad.bean.Loan">
    update t_loan
    set product_id = #{productId,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      loan_mobile = #{loanMobile,jdbcType=VARCHAR},
      loan_money = #{loanMoney,jdbcType=VARCHAR},
      loan_limit = #{loanLimit,jdbcType=VARCHAR},
      loan_status = #{loanStatus,jdbcType=CHAR},
      apply_time = #{applyTime,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      manager_id = #{managerId,jdbcType=VARCHAR},
      manager_name = #{managerName,jdbcType=VARCHAR},
      pawn_add = #{pawnAdd,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_per = #{createPer,jdbcType=VARCHAR},
      update_per = #{updatePer,jdbcType=VARCHAR},
      pauper_remark=#{pauperRemark},
      bank_card=#{bankCard},
      bank_name=#{bankName},
      bank_user_name=#{bankUserName}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>