<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trad.dao.LoanOfferMapper" >
  <resultMap id="BaseResultMap" type="com.trad.bean.LoanOffer" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="load_id" property="loadId" jdbcType="VARCHAR" />
    <result column="load_type" property="loadType" jdbcType="VARCHAR" />
    <result column="payment_name" property="paymentName" jdbcType="VARCHAR" />
    <result column="payment_contract" property="paymentContract" jdbcType="VARCHAR" />
    <result column="bail_scale" property="bailScale" jdbcType="VARCHAR" />
    <result column="bail_money" property="bailMoney" jdbcType="VARCHAR" />
    <result column="evalue_money" property="evalueMoney" jdbcType="VARCHAR" />
    <result column="offer_pound" property="offerPound" jdbcType="VARCHAR" />
    <result column="zh_money" property="zhMoney" jdbcType="VARCHAR" />
    <result column="plat_money" property="platMoney" jdbcType="VARCHAR" />
    <result column="offer_day" property="offerDay" jdbcType="VARCHAR" />
    <result column="offer_money" property="offerMoney" jdbcType="VARCHAR" />
    <result column="month_scale" property="monthScale" jdbcType="VARCHAR" />
    <result column="first_payment" property="firstPayment" jdbcType="VARCHAR" />
    <result column="last_payment" property="lastPayment" jdbcType="VARCHAR" />
    <result column="offer_limit" property="offerLimit" jdbcType="VARCHAR" />
    <result column="month_pay_money" property="monthPayMoney" jdbcType="VARCHAR" />
    <result column="month_serc" property="monthSerc" jdbcType="VARCHAR" />
    <result column="payment_plan" property="paymentPlan" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="create_per" property="createPer" jdbcType="VARCHAR" />
    <result column="update_per" property="updatePer" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, load_id, load_type, payment_name, payment_contract, bail_scale, bail_money, evalue_money, 
    offer_pound, zh_money, plat_money, offer_day, offer_money, month_scale, first_payment, 
    last_payment, offer_limit, month_pay_money, month_serc, payment_plan, create_time, 
    update_time, create_per, update_per
  </sql>
  
  <select id="getLoanOfferList" resultType="map" parameterType="map">
  	select o.id,o.load_id loadId,o.load_type loadType,o.payment_name paymentName,o.payment_contract paymentContract,o.bail_scale bailScale,
	o.bail_money bailMoney,o.evalue_money evalueMoney,o.offer_pound offerPound,o.zh_money zhMoney,o.plat_money platMoney,
	left(o.offer_day,10) offerDay,o.offer_money offerMoney,o.month_scale monthScale,left(o.first_payment,10) firstPayment,left(o.last_payment,10) lastPayment,
	o.offer_limit offerLimit,o.month_pay_money monthPayMoney,o.month_serc monthSerc,o.payment_plan paymentPlan,
	o.create_time createTime,o.update_time updateTime,o.create_per createPer,o.update_per updatePer,
	l.customer_name customerName,l.loan_money loanMoney,l.product_name productName,l.loan_money loanMoney,l.loan_status loanStatus,
	l.id loanId
	from t_loan_offer o LEFT JOIN t_loan l ON o.load_id=l.id
	<where>
		<if test="loanStatus !=null">
			l.loan_status &gt;=#{loanStatus}
		</if>
	</where>
	limit #{page}, #{pageSize}
  </select>
  <select id="getCount" resultType="java.lang.Integer" parameterType="map">
  	select count(*) countx from t_loan_offer o LEFT JOIN t_loan l ON o.load_id=l.id
  	<where>
		<if test="loanStatus !=null">
			l.loan_status &gt;=#{loanStatus}
		</if>
	</where>
  </select>
  
  <select id="selMobile" parameterType="String" resultType="String">
  	select c.mobile from t_loan_offer o LEFT JOIN t_loan l ON o.load_id=l.id LEFT JOIN t_customer c ON l.customer_id=c.id where o.id=#{id}
  </select>
  
  <select id="selectByPrimaryKey" resultType="map" parameterType="java.lang.String" >
    select 
    o.id,o.load_id loadId,o.load_type loadType,o.payment_name paymentName,o.payment_contract paymentContract,o.bail_scale bailScale,
	o.bail_money bailMoney,o.evalue_money evalueMoney,o.offer_pound offerPound,o.zh_money zhMoney,o.plat_money platMoney,
	left(o.offer_day,10) offerDay,o.offer_money offerMoney,o.month_scale monthScale,left(o.first_payment,10) firstPayment,left(o.last_payment,10) lastPayment,
	o.offer_limit offerLimit,o.month_pay_money monthPayMoney,o.month_serc monthSerc,o.payment_plan paymentPlan,
	o.create_time createTime,o.update_time updateTime,o.create_per createPer,o.update_per updatePer,l.product_name productName,
	l.bank_card bankCard,l.bank_name bankName,l.bank_user_name bankUserName
    from t_loan_offer o LEFT JOIN t_loan l ON o.load_id=l.id
    where o.id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selloanOfferByloanId" resultType="map" parameterType="java.lang.String">
  	select * from t_loan_offer o left join t_loan l ON o.load_id=l.id
    where l.id = #{loanId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_loan_offer
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.trad.bean.LoanOffer" >
    insert into t_loan_offer (id, load_id, load_type, 
      payment_name, payment_contract, bail_scale, 
      bail_money, evalue_money, offer_pound, 
      zh_money, plat_money, offer_day, 
      offer_money, month_scale, first_payment, 
      last_payment, offer_limit, month_pay_money, 
      month_serc, payment_plan, create_time, 
      update_time, create_per, update_per
      )
    values (#{id,jdbcType=VARCHAR}, #{loadId,jdbcType=VARCHAR}, #{loadType,jdbcType=VARCHAR}, 
      #{paymentName,jdbcType=VARCHAR}, #{paymentContract,jdbcType=VARCHAR}, #{bailScale,jdbcType=VARCHAR}, 
      #{bailMoney,jdbcType=VARCHAR}, #{evalueMoney,jdbcType=VARCHAR}, #{offerPound,jdbcType=VARCHAR}, 
      #{zhMoney,jdbcType=VARCHAR}, #{platMoney,jdbcType=VARCHAR}, #{offerDay,jdbcType=VARCHAR}, 
      #{offerMoney,jdbcType=VARCHAR}, #{monthScale,jdbcType=VARCHAR}, #{firstPayment,jdbcType=VARCHAR}, 
      #{lastPayment,jdbcType=VARCHAR}, #{offerLimit,jdbcType=VARCHAR}, #{monthPayMoney,jdbcType=VARCHAR}, 
      #{monthSerc,jdbcType=VARCHAR}, #{paymentPlan,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=VARCHAR}, #{createPer,jdbcType=VARCHAR}, #{updatePer,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.trad.bean.LoanOffer" >
    insert into t_loan_offer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="loadId != null" >
        load_id,
      </if>
      <if test="loadType != null" >
        load_type,
      </if>
      <if test="paymentName != null" >
        payment_name,
      </if>
      <if test="paymentContract != null" >
        payment_contract,
      </if>
      <if test="bailScale != null" >
        bail_scale,
      </if>
      <if test="bailMoney != null" >
        bail_money,
      </if>
      <if test="evalueMoney != null" >
        evalue_money,
      </if>
      <if test="offerPound != null" >
        offer_pound,
      </if>
      <if test="zhMoney != null" >
        zh_money,
      </if>
      <if test="platMoney != null" >
        plat_money,
      </if>
      <if test="offerDay != null" >
        offer_day,
      </if>
      <if test="offerMoney != null" >
        offer_money,
      </if>
      <if test="monthScale != null" >
        month_scale,
      </if>
      <if test="firstPayment != null" >
        first_payment,
      </if>
      <if test="lastPayment != null" >
        last_payment,
      </if>
      <if test="offerLimit != null" >
        offer_limit,
      </if>
      <if test="monthPayMoney != null" >
        month_pay_money,
      </if>
      <if test="monthSerc != null" >
        month_serc,
      </if>
      <if test="paymentPlan != null" >
        payment_plan,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createPer != null" >
        create_per,
      </if>
      <if test="updatePer != null" >
        update_per,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loadId != null" >
        #{loadId,jdbcType=VARCHAR},
      </if>
      <if test="loadType != null" >
        #{loadType,jdbcType=VARCHAR},
      </if>
      <if test="paymentName != null" >
        #{paymentName,jdbcType=VARCHAR},
      </if>
      <if test="paymentContract != null" >
        #{paymentContract,jdbcType=VARCHAR},
      </if>
      <if test="bailScale != null" >
        #{bailScale,jdbcType=VARCHAR},
      </if>
      <if test="bailMoney != null" >
        #{bailMoney,jdbcType=VARCHAR},
      </if>
      <if test="evalueMoney != null" >
        #{evalueMoney,jdbcType=VARCHAR},
      </if>
      <if test="offerPound != null" >
        #{offerPound,jdbcType=VARCHAR},
      </if>
      <if test="zhMoney != null" >
        #{zhMoney,jdbcType=VARCHAR},
      </if>
      <if test="platMoney != null" >
        #{platMoney,jdbcType=VARCHAR},
      </if>
      <if test="offerDay != null" >
        #{offerDay,jdbcType=VARCHAR},
      </if>
      <if test="offerMoney != null" >
        #{offerMoney,jdbcType=VARCHAR},
      </if>
      <if test="monthScale != null" >
        #{monthScale,jdbcType=VARCHAR},
      </if>
      <if test="firstPayment != null" >
        #{firstPayment,jdbcType=VARCHAR},
      </if>
      <if test="lastPayment != null" >
        #{lastPayment,jdbcType=VARCHAR},
      </if>
      <if test="offerLimit != null" >
        #{offerLimit,jdbcType=VARCHAR},
      </if>
      <if test="monthPayMoney != null" >
        #{monthPayMoney,jdbcType=VARCHAR},
      </if>
      <if test="monthSerc != null" >
        #{monthSerc,jdbcType=VARCHAR},
      </if>
      <if test="paymentPlan != null" >
        #{paymentPlan,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="createPer != null" >
        #{createPer,jdbcType=VARCHAR},
      </if>
      <if test="updatePer != null" >
        #{updatePer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trad.bean.LoanOffer" >
    update t_loan_offer
    <set >
      <if test="loadId != null" >
        load_id = #{loadId,jdbcType=VARCHAR},
      </if>
      <if test="loadType != null" >
        load_type = #{loadType,jdbcType=VARCHAR},
      </if>
      <if test="paymentName != null" >
        payment_name = #{paymentName,jdbcType=VARCHAR},
      </if>
      <if test="paymentContract != null" >
        payment_contract = #{paymentContract,jdbcType=VARCHAR},
      </if>
      <if test="bailScale != null" >
        bail_scale = #{bailScale,jdbcType=VARCHAR},
      </if>
      <if test="bailMoney != null" >
        bail_money = #{bailMoney,jdbcType=VARCHAR},
      </if>
      <if test="evalueMoney != null" >
        evalue_money = #{evalueMoney,jdbcType=VARCHAR},
      </if>
      <if test="offerPound != null" >
        offer_pound = #{offerPound,jdbcType=VARCHAR},
      </if>
      <if test="zhMoney != null" >
        zh_money = #{zhMoney,jdbcType=VARCHAR},
      </if>
      <if test="platMoney != null" >
        plat_money = #{platMoney,jdbcType=VARCHAR},
      </if>
      <if test="offerDay != null" >
        offer_day = #{offerDay,jdbcType=VARCHAR},
      </if>
      <if test="offerMoney != null" >
        offer_money = #{offerMoney,jdbcType=VARCHAR},
      </if>
      <if test="monthScale != null" >
        month_scale = #{monthScale,jdbcType=VARCHAR},
      </if>
      <if test="firstPayment != null" >
        first_payment = #{firstPayment,jdbcType=VARCHAR},
      </if>
      <if test="lastPayment != null" >
        last_payment = #{lastPayment,jdbcType=VARCHAR},
      </if>
      <if test="offerLimit != null" >
        offer_limit = #{offerLimit,jdbcType=VARCHAR},
      </if>
      <if test="monthPayMoney != null" >
        month_pay_money = #{monthPayMoney,jdbcType=VARCHAR},
      </if>
      <if test="monthSerc != null" >
        month_serc = #{monthSerc,jdbcType=VARCHAR},
      </if>
      <if test="paymentPlan != null" >
        payment_plan = #{paymentPlan,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="createPer != null" >
        create_per = #{createPer,jdbcType=VARCHAR},
      </if>
      <if test="updatePer != null" >
        update_per = #{updatePer,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trad.bean.LoanOffer" >
    update t_loan_offer
    set load_id = #{loadId,jdbcType=VARCHAR},
      load_type = #{loadType,jdbcType=VARCHAR},
      payment_name = #{paymentName,jdbcType=VARCHAR},
      payment_contract = #{paymentContract,jdbcType=VARCHAR},
      bail_scale = #{bailScale,jdbcType=VARCHAR},
      bail_money = #{bailMoney,jdbcType=VARCHAR},
      evalue_money = #{evalueMoney,jdbcType=VARCHAR},
      offer_pound = #{offerPound,jdbcType=VARCHAR},
      zh_money = #{zhMoney,jdbcType=VARCHAR},
      plat_money = #{platMoney,jdbcType=VARCHAR},
      offer_day = #{offerDay,jdbcType=VARCHAR},
      offer_money = #{offerMoney,jdbcType=VARCHAR},
      month_scale = #{monthScale,jdbcType=VARCHAR},
      first_payment = #{firstPayment,jdbcType=VARCHAR},
      last_payment = #{lastPayment,jdbcType=VARCHAR},
      offer_limit = #{offerLimit,jdbcType=VARCHAR},
      month_pay_money = #{monthPayMoney,jdbcType=VARCHAR},
      month_serc = #{monthSerc,jdbcType=VARCHAR},
      payment_plan = #{paymentPlan,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      create_per = #{createPer,jdbcType=VARCHAR},
      update_per = #{updatePer,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>