<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trad.dao.ReceiptsLoanOfferMapper" >
  <resultMap id="BaseResultMap" type="com.trad.bean.ReceiptsLoanOffer" >
    <id column="receipts_id" property="receiptsId" jdbcType="VARCHAR" />
    <result column="receipts_load_id" property="receiptsLoadId" jdbcType="VARCHAR" />
    <result column="receipts_bail_scale" property="receiptsBailScale" jdbcType="VARCHAR" />
    <result column="receipts_bail_money" property="receiptsBailMoney" jdbcType="VARCHAR" />
    <result column="receipts_evalue_money" property="receiptsEvalueMoney" jdbcType="VARCHAR" />
    <result column="receipts_offer_pound" property="receiptsOfferPound" jdbcType="VARCHAR" />
    <result column="receipts_zh_money" property="receiptsZhMoney" jdbcType="VARCHAR" />
    <result column="receipts_plat_money" property="receiptsPlatMoney" jdbcType="VARCHAR" />
    <result column="receipts_offer_money" property="receiptsOfferMoney" jdbcType="VARCHAR" />
    <result column="receipts_month_scale" property="receiptsMonthScale" jdbcType="VARCHAR" />
    <result column="receipts_offer_limit" property="receiptsOfferLimit" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_per" property="createPer" jdbcType="VARCHAR" />
    <result column="update_per" property="updatePer" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    receipts_id, receipts_load_id, receipts_bail_scale, receipts_bail_money, receipts_evalue_money, 
    receipts_offer_pound, receipts_zh_money, receipts_plat_money, receipts_offer_money, 
    receipts_month_scale, receipts_offer_limit, create_time, update_time, create_per, 
    update_per
  </sql>
  
  <select id="selReceiptsLoanOfferAll" resultType="map" parameterType="map">
  	select r.receipts_id receiptsId, r.receipts_load_id receiptsLoadId, r.receipts_bail_scale receiptsBailScale, 
  	r.receipts_bail_money receiptsBailMoney, r.receipts_evalue_money receiptsEvalueMoney,
  	r.receipts_offer_pound receiptsOfferPound, r.receipts_zh_money receiptsZhMoney, 
  	r.receipts_plat_money receiptsPlatMoney, r.create_time createTime,r.update_time updateTime, r.create_per createPer, r.update_per updatePer,
	o.offer_money receiptsOfferMoney,o.month_scale receiptsMonthScale,o.offer_limit receiptsOfferLimit,
    l.customer_name customerName,l.loan_status loanStatus,l.apply_time applyTime,l.id loanId
  	from t_receipts_loan_offer r LEFT JOIN t_loan l ON r.receipts_load_id=l.id LEFT JOIN t_loan_offer o ON o.load_id=l.id limit #{page},#{pageSize}
  </select>
  <select id="getCount" resultType="java.lang.Integer" parameterType="map">
  	select count(*) countx from t_receipts_loan_offer r LEFT JOIN t_loan l ON r.receipts_load_id=l.id LEFT JOIN t_loan_offer o ON o.load_id=l.id
  </select>
  
  <select id="selReceiptsLoanOffer" parameterType="String" resultType="com.trad.bean.ReceiptsLoanOffer">
  	select r.receipts_id receiptsId, r.receipts_load_id receiptsLoadId, r.receipts_bail_scale receiptsBailScale, 
  	r.receipts_bail_money receiptsBailMoney, r.receipts_evalue_money receiptsEvalueMoney,
  	r.receipts_offer_pound receiptsOfferPound, r.receipts_zh_money receiptsZhMoney, 
  	r.receipts_plat_money receiptsPlatMoney, r.receipts_offer_money receiptsOfferMoney, 
    r.receipts_month_scale receiptsMonthScale, r.receipts_offer_limit receiptsOfferLimit, 
    r.create_time createTime,r.update_time updateTime, r.create_per createPer, r.update_per updatePer
    from t_receipts_loan_offer r where receipts_id=#{receiptsId}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_receipts_loan_offer
    where receipts_id = #{receiptsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_receipts_loan_offer
    where receipts_id = #{receiptsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.trad.bean.ReceiptsLoanOffer" >
    insert into t_receipts_loan_offer (receipts_id, receipts_load_id, receipts_bail_scale, 
      receipts_bail_money, receipts_evalue_money, 
      receipts_offer_pound, receipts_zh_money, receipts_plat_money, 
      receipts_offer_money, receipts_month_scale, 
      receipts_offer_limit, create_time, update_time, 
      create_per, update_per)
    values (#{receiptsId,jdbcType=VARCHAR}, #{receiptsLoadId,jdbcType=VARCHAR}, #{receiptsBailScale,jdbcType=VARCHAR}, 
      #{receiptsBailMoney,jdbcType=VARCHAR}, #{receiptsEvalueMoney,jdbcType=VARCHAR}, 
      #{receiptsOfferPound,jdbcType=VARCHAR}, #{receiptsZhMoney,jdbcType=VARCHAR}, #{receiptsPlatMoney,jdbcType=VARCHAR}, 
      #{receiptsOfferMoney,jdbcType=VARCHAR}, #{receiptsMonthScale,jdbcType=VARCHAR}, 
      #{receiptsOfferLimit,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createPer,jdbcType=VARCHAR}, #{updatePer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.trad.bean.ReceiptsLoanOffer" >
    insert into t_receipts_loan_offer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="receiptsId != null" >
        receipts_id,
      </if>
      <if test="receiptsLoadId != null" >
        receipts_load_id,
      </if>
      <if test="receiptsBailScale != null" >
        receipts_bail_scale,
      </if>
      <if test="receiptsBailMoney != null" >
        receipts_bail_money,
      </if>
      <if test="receiptsEvalueMoney != null" >
        receipts_evalue_money,
      </if>
      <if test="receiptsOfferPound != null" >
        receipts_offer_pound,
      </if>
      <if test="receiptsZhMoney != null" >
        receipts_zh_money,
      </if>
      <if test="receiptsPlatMoney != null" >
        receipts_plat_money,
      </if>
      <if test="receiptsOfferMoney != null" >
        receipts_offer_money,
      </if>
      <if test="receiptsMonthScale != null" >
        receipts_month_scale,
      </if>
      <if test="receiptsOfferLimit != null" >
        receipts_offer_limit,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createPer != null" >
        create_per,
      </if>
      <if test="updatePer != null" >
        update_per,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="receiptsId != null" >
        #{receiptsId,jdbcType=VARCHAR},
      </if>
      <if test="receiptsLoadId != null" >
        #{receiptsLoadId,jdbcType=VARCHAR},
      </if>
      <if test="receiptsBailScale != null" >
        #{receiptsBailScale,jdbcType=VARCHAR},
      </if>
      <if test="receiptsBailMoney != null" >
        #{receiptsBailMoney,jdbcType=VARCHAR},
      </if>
      <if test="receiptsEvalueMoney != null" >
        #{receiptsEvalueMoney,jdbcType=VARCHAR},
      </if>
      <if test="receiptsOfferPound != null" >
        #{receiptsOfferPound,jdbcType=VARCHAR},
      </if>
      <if test="receiptsZhMoney != null" >
        #{receiptsZhMoney,jdbcType=VARCHAR},
      </if>
      <if test="receiptsPlatMoney != null" >
        #{receiptsPlatMoney,jdbcType=VARCHAR},
      </if>
      <if test="receiptsOfferMoney != null" >
        #{receiptsOfferMoney,jdbcType=VARCHAR},
      </if>
      <if test="receiptsMonthScale != null" >
        #{receiptsMonthScale,jdbcType=VARCHAR},
      </if>
      <if test="receiptsOfferLimit != null" >
        #{receiptsOfferLimit,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPer != null" >
        #{createPer,jdbcType=VARCHAR},
      </if>
      <if test="updatePer != null" >
        #{updatePer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trad.bean.ReceiptsLoanOffer" >
    update t_receipts_loan_offer
    <set >
      <if test="receiptsLoadId != null" >
        receipts_load_id = #{receiptsLoadId,jdbcType=VARCHAR},
      </if>
      <if test="receiptsBailScale != null" >
        receipts_bail_scale = #{receiptsBailScale,jdbcType=VARCHAR},
      </if>
      <if test="receiptsBailMoney != null" >
        receipts_bail_money = #{receiptsBailMoney,jdbcType=VARCHAR},
      </if>
      <if test="receiptsEvalueMoney != null" >
        receipts_evalue_money = #{receiptsEvalueMoney,jdbcType=VARCHAR},
      </if>
      <if test="receiptsOfferPound != null" >
        receipts_offer_pound = #{receiptsOfferPound,jdbcType=VARCHAR},
      </if>
      <if test="receiptsZhMoney != null" >
        receipts_zh_money = #{receiptsZhMoney,jdbcType=VARCHAR},
      </if>
      <if test="receiptsPlatMoney != null" >
        receipts_plat_money = #{receiptsPlatMoney,jdbcType=VARCHAR},
      </if>
      <if test="receiptsOfferMoney != null" >
        receipts_offer_money = #{receiptsOfferMoney,jdbcType=VARCHAR},
      </if>
      <if test="receiptsMonthScale != null" >
        receipts_month_scale = #{receiptsMonthScale,jdbcType=VARCHAR},
      </if>
      <if test="receiptsOfferLimit != null" >
        receipts_offer_limit = #{receiptsOfferLimit,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPer != null" >
        create_per = #{createPer,jdbcType=VARCHAR},
      </if>
      <if test="updatePer != null" >
        update_per = #{updatePer,jdbcType=VARCHAR},
      </if>
    </set>
    where receipts_id = #{receiptsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trad.bean.ReceiptsLoanOffer" >
    update t_receipts_loan_offer
    set receipts_load_id = #{receiptsLoadId,jdbcType=VARCHAR},
      receipts_bail_scale = #{receiptsBailScale,jdbcType=VARCHAR},
      receipts_bail_money = #{receiptsBailMoney,jdbcType=VARCHAR},
      receipts_evalue_money = #{receiptsEvalueMoney,jdbcType=VARCHAR},
      receipts_offer_pound = #{receiptsOfferPound,jdbcType=VARCHAR},
      receipts_zh_money = #{receiptsZhMoney,jdbcType=VARCHAR},
      receipts_plat_money = #{receiptsPlatMoney,jdbcType=VARCHAR},
      receipts_offer_money = #{receiptsOfferMoney,jdbcType=VARCHAR},
      receipts_month_scale = #{receiptsMonthScale,jdbcType=VARCHAR},
      receipts_offer_limit = #{receiptsOfferLimit,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_per = #{createPer,jdbcType=VARCHAR},
      update_per = #{updatePer,jdbcType=VARCHAR}
    where receipts_id = #{receiptsId,jdbcType=VARCHAR}
  </update>
</mapper>