<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trad.dao.UserGroupMapper" >
  <resultMap id="BaseResultMap" type="com.trad.bean.UserGroup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="master_id" property="masterId" jdbcType="INTEGER" />
    <result column="master_name" property="masterName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_per" property="createPer" jdbcType="VARCHAR" />
    <result column="update_per" property="updatePer" jdbcType="VARCHAR" />
    <result column="record_status" property="recordStatus" jdbcType="VARCHAR" />
    <collection property="users" ofType="com.trad.bean.User">  
	    <id column="user_id" property="userId" jdbcType="INTEGER" />
	    <result column="user_name" property="userName" jdbcType="VARCHAR" />
	    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
	    <result column="real_name" property="realName" jdbcType="VARCHAR" />
	    <result column="email" property="email" jdbcType="VARCHAR" />
	    <result column="phone" property="phone" jdbcType="VARCHAR" />
	    <result column="sex" property="sex" jdbcType="CHAR" />
	    <result column="live_address" property="liveAddress" jdbcType="VARCHAR" />
	    <result column="emcy_contract" property="emcyContract" jdbcType="VARCHAR" />
	    <result column="contract_mobile" property="contractMobile" jdbcType="VARCHAR" />
	    <result column="job" property="job" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	    <result column="group_id" property="groupId" jdbcType="VARCHAR" />
	    <result column="create_per" property="createPer" jdbcType="VARCHAR" />
        <result column="update_per" property="updatePer" jdbcType="VARCHAR" />
    </collection>  
  </resultMap>
  <sql id="Base_Column_List" >
    id, group_name, master_id,master_name, remark, create_time, update_time,create_per,update_per,record_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_user_group
    where id = #{id,jdbcType=INTEGER}
  </select>
   <select id="getAllGroup" resultMap="BaseResultMap">
     SELECT u.*,g.*  FROM t_user u JOIN t_user_group g ON u.group_id = g.id where 
     u.record_status='1' and g.record_status='1'
     <if test="groupId != null and groupId !=''" >
        and g.id = #{groupId,jdbcType=INTEGER}
      </if>
  </select>
  <select id="queryAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_group where record_status='1'
  </select>
   <select id="queryByPaged" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
      SELECT u.*,g.*  FROM t_user_group g LEFT JOIN  t_user u  ON u.group_id = g.id
      <if test="filter != null and filter != ''" >
        where g.group_name like #{filter,jdbcType=VARCHAR}
      </if>
     LIMIT #{1} , #{2}
  </select>
  <select id="count" resultType="java.lang.Integer">
    select count(1) cnt  from t_user_group
      <if test="filter != null and filter != ''" >
        where group_name like #{filter,jdbcType=VARCHAR}
     </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.trad.bean.UserGroup" useGeneratedKeys="true" keyProperty="id">
    insert into t_user_group (id, group_name, master_id,master_name, 
      remark, create_time, update_time,create_per,update_per,record_status)
    values (#{id,jdbcType=INTEGER}, #{groupName,jdbcType=VARCHAR}, #{masterId,jdbcType=INTEGER},#{masterName,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{createPer,jdbcType=VARCHAR},#{updatePer,jdbcType=VARCHAR},#{recordStatus,jdbcType=VARCHAR} )
  </insert>
  <insert id="insertSelective" parameterType="com.trad.bean.UserGroup" >
    insert into t_user_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupName != null" >
        group_name,
      </if>
      <if test="groupMaster != null" >
        master_id,
      </if>
      <if test="groupMaster != null" >
        master_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createPer != null" >
        create_per,
      </if>
      <if test="updatePer != null" >
        update_per,
      </if>
        <if test="recordStatus != null" >
        record_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="masterId != null" >
        #{masterId,jdbcType=INTEGER},
      </if>
      <if test="masterName != null" >
        #{masterName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPer != null" >
        #{createPer,jdbcType=VARCHAR},
      </if>
      <if test="updatePer != null" >
        #{updatePer,jdbcType=VARCHAR},
      </if>
       <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trad.bean.UserGroup" >
    update t_user_group
    <set >
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="masterId != null" >
       master_id = #{masterId,jdbcType=INTEGER},
      </if>
      <if test="masterName != null" >
       master_name = #{masterName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPer != null" >
        create_per = #{createPer,jdbcType=VARCHAR},
      </if>
      <if test="updatePer != null" >
        update_per = #{updatePer,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        record_status = #{recordStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trad.bean.UserGroup" >
    update t_user_group
    set group_name = #{groupName,jdbcType=VARCHAR},
      master_id = #{masterId,jdbcType=INTEGER},
      master_name = #{masterName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP} ,
      create_per = #{createPer,jdbcType=VARCHAR},
	  update_per = #{updatePer,jdbcType=VARCHAR},
	  record_status = #{recordStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>